.table-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
}
table{ 
    width: 80%;
    text-align:center;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
#encabezado{
    background-color:blue;
    border-radius: 10px;
}
table th{
    width: 90px;
    border:0px solid;
    color:#FFF;
    
   
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
/* Estilo para las columnas alternas */
tr:nth-child(odd) {
    background-color: #f2f2f2; /* Gris claro */
}
tr:nth-child(even) {
    background-color: #ffffff; /* Blanco */
}

table td{
    width: 65px;
}
img{
    max-width: 35px;
    height: auto;
}
